:root {
    --primary-color: #565660;
    --primary-dark: #6da7b6;
    --secondary-color: #ffffff;
    --background-color: #e0f7fa;
    --text-dark: #333;
    --text-medium: #555;
    --text-light: #666;
    --border-color: #e1e1e1;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-medium: rgba(0, 0, 0, 0.2);
    --highlight-color: #a8d0d8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    background-color: var(--background-color);
    color: var(--text-dark);
    font-size: 25px;
}

header {
    padding: 20px;
    background: linear-gradient(135deg, #b3e5e5 0%, #8fcac9 100%);
    border-bottom: 1px solid var(--border-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.user-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.header a {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 24px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header a:hover {
    color: var(--primary-dark);
    transform: scale(1.1);
}

.user-info {
    font-size: 20px;
    font-weight: 600;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-light);
    margin-right: 20px;
    display: inline-grid;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: var(--primary-dark);
}

.content {
    flex: 3;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-light);
    height: 260px;
}

.content-user {
    display: none;
}

.content-user.active {
    display: block;
}

.promo-highlight {
    border: 2px solid var(--primary-dark);
    background-color: var(--highlight-color);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-medium);
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    height: 100px;
}

.promo-highlight p {
    margin: 10px 0;
    font-size: 22px;
    color: var(--text-dark);
}
/*фывфыв*/
.form-container {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-light);
    max-width: 460px;
    margin: 20px auto;
    text-align: center;
}

.date-input,
.submit-button {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: calc(100% - 22px);
    box-shadow: 0 2px 4px var(--shadow-light);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.date-input:focus,
.submit-button:focus {
    outline: none;
    box-shadow: 0 4px 8px var(--shadow-medium);
}

.submit-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--primary-dark);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px var(--shadow-medium);
}
